@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Monda:400,700');






ol {
	color: navy;
	font-size: 40px;
	font-family: 'Oswald', sans-serif; 
}


p {
	margin-left: 200px;
	font-size: 20px;
    font-family: 'Monda', sans-serif;
}

img {
	margin-left: 350px;
}

a{
	text-decoration: none;
	font-size: 29px;
	color: #0000ff;
}

a:hover {
	color: #ff0066;
	background: #1affff; 
}
strong {
	font-size: 32px;
}

ul {
	color: #b32d00;
	font-size: 29px;
}

body {
	background: #b3ffff;
}